body {
	text-align:center;
	margin:2px;
}
h1 {
	margin-bottom: 5px;
}
table {
	width:100%;
}
td {
	height: 5px;
	width: 10px;
}
ul li{
	text-align:left;
}


.headerfourth {
	font-weight:bold;
}
.headerthird {
	font-weight:bold;
}			

/* Map specific styling */
#mapContainer {
	position:relative;
	float:center;
	width:1016px;
	height:10px;
}

#mapContainer div {
	position:relative;
	height:4px;
	width:4px;
	float:left;
	margin:0px;
}

#mapContainer div:hover {
	border: solid 1px black;
	height:2px;
	width:2px;
	margin:0px;
}

.ping {
	background-color:green;
}
.reg {
	background-color:orange;
}
.dne {
	background-color:white;
}
.urhere {
	border:solid 1px red;
	height:2px;
	width:2px;
	margin:0px
}
